<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <title>Omaha Code School - Working On</title>
  <link rel="stylesheet" type="text/css" href="redesign/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="https://use.fontawesome.com/28ea288129.js"></script>
  <script type="text/javascript" src="redesign/scripts.js"></script>
</head>
<body>
  <div id="top_container">
    <div><img src="ocs.png" id="OCS_logo"></div>
    <div id="top_container-login">
      Welcome! Please login:<br>
      <form method="post" action="">
        <input type="text" name="username" placeholder="Enter your name" required>
        <input type="password" name="password" placeholder="Enter your password" required><br>
        <input type="submit">
    </div>
    <div id="top_container-admin">
      <i class="fa fa-lock fa-2x" aria-hidden="true" id="admin_button"></i>
    </div>
  </div>

  <div id="middle_container">
    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

    <div class="post_container">
      <div class="post_container-left">
        <img src="generic_user.jpg" class="profilePhoto">
      </div>
      <div class="post_container-right">
        <div class="post_container-header">
          <span class="post_container-header_name">Jamie Locatis</span>
          <span class="post_container-header_date">03/10/17</span>
        </div>
        <div class="post_container-content">Cold-pressed taxidermy air plant, cliche direct trade YOLO 8-bit lo-fi banjo. Narwhal organic typewriter taxidermy green juice. Narwhal freegan mustache, cliche poke mumblecore pinterest meditation semiotics echo park try-hard quinoa pitchfork tote bag lyft. Yr organic put a bird on it tacos. Lumbersexual everyday carry shoreditch, af succulents helvetica cornhole. Craft beer aesthetic banh mi butcher knausgaard, 90's sartorial tote bag. Shabby chic trust fund direct trade, neutra butcher ugh try-hard next level chicharrones.</div>
      </div>
    </div>

  </div>

  <div id="bottom_container">
    <form method="post" action="">
      <textarea id="bottom_container-postbox"></textarea>
      <label class="radio_button"><input type="radio" name="stressLevel" value="1" required><i class="fa fa-smile-o fa-2x" aria-hidden="true"></i></label>
      <label class="radio_button"><input type="radio" name="stressLevel" value ="2"><i class="fa fa-meh-o fa-2x" aria-hidden="true"></i></label>
      <label class="radio_button"><input type="radio" name="stressLevel" value ="3"><i class="fa fa-frown-o fa-2x" aria-hidden="true"></i></label>
      <div id="bottom_container-submit_button">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div id="modal_background">
  </div>

  <div id="admin_modal">
    <div id="close">
      <a href="javascript:;">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
    </div>
    <div id="title"><strong>Administration Login</strong></div>
    <div id="admin_login-form">
      <form action="" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
      </form>
    </div>
  </div>
</body>
</html>