<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<h1>Admin Page</h1>

<select name="start_time">
	<option value="9">9:00am</option>
	<option value="10">10:00am</option>
	<option value="11">11:00am</option>
	<option value="12">12:00pm</option>
	<option value="1">1:00p</option>
	<option value="2">2:00p</option>
	<option value="3">3:00p</option>
	<option value="4">4:00p</option>
</select>

</body>
</html>