<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<h1>Admin Page</h1>
	<% @submissions.each do |x| %>
		<%= x %> <br>
	<% end %>
    <form>

	    <select>
	       	<% @submissions.each do |post|%>
	       	<% post = post.split(",")[2]%>
	       	<option value = name></option>
	    </select>
	    <select>
	      	<% @submissions.each do |post|%>
	       	<% post = post.split(",")[2]%>
	       	<option value = name></option>  
	    </select>
	 	<input type="submit">
    </form>
</body>
</html>