<!DOCTYPE html>
<html>
<head>
	<title>Submit what you are working on</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<% @submissions.each do |x| %>
	<%= x %> <br>
<% end %> 

</body>
</html>