<div id="dailyFeed">
	<form method="get" action="/admin" class= "dropBox--holder">
		<button type="submit" class ="dropBox--submit">Back</button>
	</form>

	<% @info.each do |post|
		# TODO Don't define any of these vars in the view.
		current_row = post.split(",")
		date = current_row[0].to_i
		date = Time.at(date).strftime('%x %I:%M:%S%p') %>
		<div class ="post thinbluebox">
			<div class = "postProfile">
				<div class="postname"><%=current_row[2]%></div>
				<div class="postdate"><%=date%></div>
			</div>
			<div class="postsubmission"><span class="post_info">Time since previous post: <%=current_row[1]%><br>
				Stress Level: 
					<% if current_row[3] == "1" %>
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					<% elsif current_row[3] == "2" %>
						<i class="fa fa-meh-o" aria-hidden="true"></i>
					<% elsif current_row[3] == "3" %>
						<i class="fa fa-frown-o" aria-hidden="true"></i>
					<% end %>
				</span><br>
				<%=current_row[4]%>
			</div>
		</div>
	<%end%>
</div>