<div id="dailyFeed">
	<form method="get" action="/admin" class= "dropBox--holder">
		<button type="submit" class ="submit-an--drop" id="dropBox--submit">Back</button>
	</form>

	<% @info.each do |post|%>
	<% binding.pry%>
		<div class ="post thinBox">
			<div class = "postProfile">
				<div class="postname"><%=Post.new.splitRow(post)[2]%></div>
				<div class="postdate"><%=Post.new.getDate(Post.new.splitRow(post))%></div>
			</div>
			<div class="postsubmission"><span class="post_info">Time since previous post: <%=Post.new.splitRow(post)[1]%><br>
				Stress Level: 
					<% if Post.new.splitRow(post)[3] == "1" %>
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					<% elsif Post.new.splitRow(post)[3] == "2" %>
						<i class="fa fa-meh-o" aria-hidden="true"></i>
					<% elsif Post.new.splitRow(post)[3] == "3" %>
						<i class="fa fa-frown-o" aria-hidden="true"></i>
					<% end %>
				</span><br>
				<%=Post.new.splitRow(post)[4]%>
			</div>
		</div>
	<%end%>
</div>