<div id="dailyFeed">
	<form method="get" action="/admin" class= "dropBox--holder">
		<button type="submit" class ="submit-an--drop" id="dropBox--submit">Back</button>
	</form>


	<% @info.each do |post| %>
		<div class ="post thinBox">
			<div class = "postProfile">
				<div class="postname"><%= post.name %></div>
				<div class="postdate"><%= post.date %></div>
			</div>
			<div class="postsubmission"><span class="post_info">
			<% if post.interval != "first_of_day" %> 
				Time since previous post: <%= post.interval %><br>
			<% else %>
				This is the student's first post today <br>
			<% end %>
				Stress Level: 
					<% if post.stressLevel == "1" %>
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					<% elsif post.stressLevel == "2" %>
						<i class="fa fa-meh-o" aria-hidden="true"></i>
					<% elsif post.stressLevel == "3" %>
						<i class="fa fa-frown-o" aria-hidden="true"></i>
					<% end %>
				</span><br>
				<%= post.submission %>
			</div>
		</div>
	<%end%>
</div>