<div id="dailyFeed">
	<form method="get" action="/admin" class= "dropBox--holder">
		<button type="submit" class ="submit-an--drop" id="dropBox--submit">Back</button>
	</form>

	<% @info.each do |post|
		post.each do |element| %>
		<div class ="post thinBox">
			<div class = "postProfile">
				<div class="postname"><%= element[0] %></div>
				<div class="postdate"><%= element[1] %></div>
			</div>
			<div class="postsubmission"><span class="post_info">Time since previous post: <%= element[2] %><br>
				Stress Level: 
					<% if element[3] == "1" %>
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					<% elsif element[3] == "2" %>
						<i class="fa fa-meh-o" aria-hidden="true"></i>
					<% elsif element[3] == "3" %>
						<i class="fa fa-frown-o" aria-hidden="true"></i>
					<% end %>
				</span><br>
				<%= element[4] %>
			</div>
		</div>
	<%end%>
	<%end%>
</div>