<script type="text/javascript" src="timing.js"></script>
<script type="text/javascript" src="modal.js"></script>

<div id="dailyFeed">
</div>

<a href="/reset" style="color: black">Logout & Reset User</a>

<div id="modal_background">
</div>

<div id="admin_login_modal">
	<div id="close"><a href="javascript:;">X</a></div>
	<div id="title"><strong>Administration Login</strong></div>
	<div id="login">
		<form action="/admin_login" method="post">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="submit">
		</form>
</div>
</div>

<div id="student_modal_background">
</div>

<div id="student_login_modal">
  <div id="student_close"><a href="javascript:;">X</a></div>
  <div id="title"><strong>Login</strong></div>
  <div id="student_login">
    <form action="/student_login" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit">
    </form>
</div>
<div>
 <div id="title"><strong>Sign Up!</strong></div>
    <form action="/student_signup" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type= "text" name="github" placeholder="Github Account" required>
      <input type="password" name="password" placeholder="Password" id = "signup" maxlength= "10" required>
      <input type="submit">
    </form>
</div>
</div>