<!DOCTYPE html>
<html>
<head>
	<title>Submit what you are working on</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<form method="post" action="/submit">
	<input type="text" name="name"><br>
	<textarea name="submission"></textarea>
	<input type="radio" name="stress-level" value="1">Chill
	<input type="radio" name="stress-level" value ="2">Good 
	<input type="radio" name="stress-level" value ="3">Well 
	<input type="radio" name="stress-level" value ="4">Fine 
	<input type="radio" name="stress-level" value="5">Level
	<input type="radio" name="stress-level" value ="6">Okay 
	<input type="radio" name="stress-level" value ="7">Ouch 
	<input type="radio" name="stress-level" value ="8">Cry  
	<input type="radio" name="stress-level" value="9">Tilt 	
	<input type="radio" name="stress-level" value="10">F*** 
	<input type="submit">
</form>

<a href="/display">See submissions</a>

</body>
</html>