<!DOCTYPE html>
<html>
<head>
	<title>Submit what you are working on</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<form method="post" action="/submit">
	<% if @login == nil %>
		<input type="text" name="name"><br>
	<%else%>
		<p><%=@login%> please enter your status</p>
	<%end%>
	<textarea name="submission"></textarea>
	<input type="submit">
</form>

<a href="/display">See submissions</a>

</body>
</html>