<div id="dailyFeed">
	<%dailyPosts = Database.new%>
	<%dailyPosts = dailyPosts.posts_today%>
	<%dailyPosts.each do |post|%>
	<div class ="post">
		<div class = "postProfile">
			<div><%=post[0]%></div>
			<div><%=post[1]%></div>
		</div>
		<div>
			<div><%=post[2]%></div>
		</div>
	</div>
	<%end%>
</div>
