<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <title>Omaha Code School - Working On</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="https://use.fontawesome.com/28ea288129.js"></script>
</head>
<body>

<div id="top_container">
  <div>
    <a href="/"><img src="ocs.png" id="OCS_logo"></a>
  </div>
  <div id="top_container-login">
  <% if @login == nil %>
    Welcome! Please login:<br>
    <form method="post" action="/student_login">
      <input type="text" name="username" placeholder="Enter your name" required>
      <input type="password" name="password" placeholder="Enter your password" required><br>
      <input type="submit">
    </form>
  <% else %>
    Welcome <%=@login%>!
  <% end %>
  </div>
  <div id="top_container-admin">
    <i class="fa fa-lock fa-2x" aria-hidden="true" id="admin_button"></i>
  </div>
</div>

<%= yield %>

</body>
</html>