<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Omaha Code School - What are you working on?</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<script type="text/javascript" src="scripts.js"></script>

</head>
<body>

<div class="topbar" id = "topbarId">
	<div class = "topbar--imgBox">
		<a href="/"><img src="ocs.png" id="imgOCS"></a>
	</div>

	<div class="topbar--submission_area">
		<form method="post" action="/submit">
			<% if @login == nil %>
				<input type="text" name="name" class="topbar--name_box" placeholder="Enter your name" required><br>
				<div>What are you working on?</div>
			<%else%>
				<div><%=@login%> what you are you working on?</div>
				<input type="hidden" name="name" value="<%= @login %>">
			<%end%>
			<textarea name="submission" class="topbar--textarea" placeholder="Describe what you are currently working on" required></textarea>
			<div class="topbar--stress_header">Rate Your Stress Level. (Honestly)</div>
			<label class="radio_button"><input type="radio" name="stressLevel" value="1" required><i class="fa fa-smile-o fa-2x" aria-hidden="true"></i></label>
			<label class="radio_button"><input type="radio" name="stressLevel" value ="2"><i class="fa fa-meh-o fa-2x" aria-hidden="true"></i></label>
			<label class="radio_button"><input type="radio" name="stressLevel" value ="3"><i class="fa fa-frown-o fa-2x" aria-hidden="true"></i></label><br>
			<input type="submit" id="topbar--submitButton">
		</form>
	</div>

	<div class= "topbar--adminButton">
		<a href="/admin"><i class="fa fa-key" aria-hidden="true" id="adminKey"></a></i>
	</div>
</div>

<%= yield %>

</body>
</html>