.clear{
	clear:both;
}

.center {
	text-align: center;
}

body {
	margin: 0;
}

.topbar {
	background-color: rgb(25, 70, 235);
	text-align: center;
	border-bottom: solid;
	border-color: silver;
	display:flex;
	flex-direction: row;
	padding: 20px;
}
.topbar>*{
	flex-basis: 33.3%;
}

	.topbar--imgBox{
	}

	#imgOCS{
		height: 40px;
		display: block;
	}

	.topbar--name_box {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--stress_area {
		text-align: center;
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--textarea {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--submission_area{
		color: white;
		flex-grow: 1;
	}

	.topbar--adminButton{
	}