body {
	margin: 0;
}

.topbar {
	background-color: rgb(25, 70, 235);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	text-align: center;
	border-bottom: solid;
	border-color: silver;
	display:flex;
	flex-direction: row;
}
.topbar>*{
	flex-grow: 1;
}

	.topbar--imgBox{
	}

	.topbar--name_box {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--stress_area {
		text-align: center;
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--textarea {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--submission_area{
		color: white;
	}

	.topbar--adminButton{
	}

.center {
	text-align: center;
}
img{
	margin-left: 10px;
	margin-top: 5px;
	height: 110px;
	float: left;
	display: block;
}
.clear{
	clear:both;
}