.clear{
	clear:both;
}

.center {
	text-align: center;
}

body {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
}

.topbar {
	background-color: rgb(25, 70, 235);
	text-align: center;
	border-bottom: solid;
	border-color: silver;
	display:flex;
	flex-direction: row;
	padding: 20px;
}
.topbar>*{
	flex-basis: 33.3%;
}

	.topbar--imgBox{
	}

	#imgOCS{
		height: 40px;
		display: block;
		vertical-align: bottom;
	}

	.topbar--name_box {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--stress_area {
		text-align: center;
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--textarea {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	.topbar--submission_area{
		color: white;
		flex-grow: 1;
	}

	.topbar--adminButton{
	}

	#adminKey{
		color: white;
	}
#dailyFeed{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.post{
	border:solid;
	border-color: rgb(25, 70, 235);
	width:50%; 
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}
.postProfile{
	width: 25%;
	text-align: center;
	box-shadow: 0px 0px 3px grey;
}